In [17]:
import pandas as pd

base_file_path = "../files"
stops_df = pd.read_csv(base_file_path + "/events/stops_part_1.csv")
stops_df["date_time"] = pd.to_datetime(stops_df["date_time"])
stops_df = stops_df.set_index("date_time")
stops_df["2012-03-15":"2012-03-16"][["first_off_first_name", "first_off_last_name", "second_off_first_name", "second_off_last_name", "civ_race", "civ_age"]]

# stops_df.reindex(pd.to_datetime(stops_df["date_time"]))

/var/folders/9h/xh9hskwj4q9bvjqcy131pv9c0000gn/T/ipykernel_17060/627489964.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  stops_df = pd.read_csv(base_file_path + "/events/stops_part_1.csv")

,first_off_first_name,first_off_last_name,second_off_first_name,second_off_last_name,civ_race,civ_age
date_time,,,,,,
2012-03-15 00:02:00+00:00,RASAH,DAILY,DENNIS,HINES,BLACK,20.0
2012-03-15 00:02:00+00:00,RASAH,DAILY,DENNIS,HINES,BLACK,20.0
2012-03-15 00:05:00+00:00,TIMOTHY,GASKIN,JOHN,FITZGERALD,HISPANIC,18.0
2012-03-15 00:05:00+00:00,JAMES,GEISBUSH,NaN,NaN,HISPANIC,NaN
2012-03-15 00:06:00+00:00,MICHAEL,SLOWIK,ROGER,KONO,HISPANIC,21.0
...,...,...,...,...,...,...
2012-03-15 11:45:00+00:00,MARILYN,DRISH,NaN,NaN,HISPANIC,26.0
2012-03-15 11:45:00+00:00,NaN,NaN,NaN,NaN,BLACK,NaN
2012-03-15 11:50:00+00:00,DWAYNE,BRAGIEL,NaN,NaN,BLACK,40.0
2012-03-15 11:50:00+00:00,YOUVONDIA,SMITH,IVAN,ELLIS,BLACK,17.0
2012-03-15 11:50:00+00:00,YOUVONDIA,SMITH,IVAN,ELLIS,BLACK,18.0