In [8]:
import pandas as pd

assignments_working = 0
assignments_not_working = 0

with pd.read_csv("../files/events/assignment_cleaned.csv", chunksize=10000) as reader:
  for chunk in reader:
    grp = chunk.groupby("is_working", dropna=False).size()
    assignments_not_working += grp["N"]
    assignments_working += grp["Y"]

print("assignments working:", assignments_working)
print("assignments not working:", assignments_not_working)

assignments working: 14510439
assignments not working: 14096323

In [9]:
assignments_working = 0
assignments_not_working = 0

with pd.read_csv("../files/events/officer_id_merged/assignments/assignments_full_merge.csv", chunksize=10000) as reader:
  for chunk in reader:
    grp = chunk.groupby("is_working", dropna=False).size()
    assignments_not_working += grp["N"]
    assignments_working += grp["Y"]

print("assignments working:", assignments_working)
print("assignments not working:", assignments_not_working)

assignments working: 14510439
assignments not working: 14096323

In [11]:
assignments_df = pd.read_csv("../files/events/assignment_cleaned_part_2.csv")
assignments_df[(assignments_df["absence_code"].notna()) & (assignments_df["is_working"] == "Y")]

/tmp/ipykernel_6289/4274467249.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  assignments_df = pd.read_csv("../files/events/assignment_cleaned_part_2.csv")

,Unnamed: 0,unit,watch,beat,car_number,shift_start,start_time,shift_end,end_time,off_last_name,...,off_appointed,is_working,absence_code,absence_description,off_sex,rdesc,date,year,shift_end_corrected,shift_time
52089,52090,189,3,6225I,NaN,NaN,NaN,NaN,NaN,GOFF,...,2006-11-27,Y,80.0,DAY OFF,M,NaN,2015-01-05,2015,NaN,NaN