In [13]:
import pandas as pd
from data_tweak.normalizers import normalize_race, normalize_sex
base_file_path = "../files"

""" 
  in this filter, lets address uof incidents that weren't discarded due to missing
  elements of the previous merge key:
    ["off_first_name", "off_last_name", "off_birth_year", "off_sex", "off_race"]
"""
uof_unmerged_df = pd.read_csv(base_file_path + "/events/officer_id_merged/uof_merged_no_match_filter_1.csv")
officer_prof_df = pd.read_csv(base_file_path + "/profiles/officer_profile.csv")

officer_prof_df["off_sex"] = officer_prof_df["off_sex"].transform(normalize_sex)
officer_prof_df["off_race"] = officer_prof_df["off_race"].transform(normalize_race)
uof_unmerged_df[uof_unmerged_df["off_last_name"].str.contains(" ")]

,uof_id,report_number,date_time,uof_address,subject_cb_no,off_first_name,off_last_name,unit,watch,off_height,...,off_suffix_x,off_appointed_date,off_resignation_date,off_id,off_middle_initial_y,off_middle_initial_2,off_suffix_y,off_year_of_birth,off_appointed,off_resignation
0,10214,2017-00026,2017-10-18 23:45:00,16XX 79TH ST,19552008,MARTIN,VASQUEZ JR,4,NaN,511.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10215,2017-00027,2017-10-18 23:45:00,16XX 79TH ST,19552008,MARTIN,VASQUEZ JR,4,NaN,511.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10220,2017-00032,2017-10-19 10:07:00,13XX TROY ST,NaN,RUPERTO,MEDINA III,10,NaN,505.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10256,2017-00078,2017-10-21 11:30:00,80XX EBERHART AVE,19553185,EDWIN,HERNANDEZ JR,6,NaN,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10262,2017-00084,2017-10-18 09:28:00,71XX JEFFERY BLVD,NaN,JAMES,MOSE V,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3900,24789,2020-04490,2020-12-15 11:54:00,41XX CONGRESS PKWY,30013709,GUILLERMO,GAMA JR,716,6.0,507.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3906,24805,2020-04507,2020-12-18 12:14:00,14XX LARAMIE AVE,30014434,WILFREDO,ROMAN JR,25,4.0,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3916,24847,2020-04549,2020-12-22 15:04:00,15XX KEDZIE AVE,30015578,DOMINGO,ENRIQUEZ JR,193,2.0,508.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3923,24873,2020-04575,2020-12-25 00:48:00,56XX WABASH AVE,030016123,DANIEL,O BOYLE,2,1.0,510.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3937,24898,2020-04601,2020-12-28 02:21:00,15XX FAIRFIELD AVE,NaN,MIGUEL,BERMUDEZ VALLES,10,1.0,504.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN